@font-face {
  font-family: myFirstFont;
  src: url(CursedTimerULiL.ttf);
}

body {
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    height: 365px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.point-btn{
    height: 45px;
    width: 45px;
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: myFirstFont;
}

.reset-btn{
    margin-top: 15px;
    height: 45px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: #1B244A;
}

.scoreBoard{
    background-color: black;
    height: 120px;
    margin-bottom: 25px;
    width: 155px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

h4 {
    font-family: myFirstFont;
    color: #F94F6D;
    font-size: 90px;
    line-height: 141%;
    text-align: center;
    margin: 0px;
}